body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/back.jpg);
}

@keyframes DV {
    0% {}

    50% {
        transform: translate(50px, -50px)
    }

    100% {
        transform: translate(100px, 20px);

    }
}

@keyframes DS {
    0% {}

    50% {
        transform: translate(-50px, -50px)
    }

    100% {
        transform: translate(-100px, 20px);


    }
}

@keyframes animeV {
    0% {}

    50% {
        top: 450px;
        left: 900px;

    }

    100% {
        bottom: 0px;
    }
}

@keyframes animeS {
    0% {}

    50% {
        bottom: 0px;
        left: 50px
    }

    100% {
        top: 450px;
        left: 900px;
    }

}

@keyframes VictoireV {

    0% {}

    50% {
        transform: translate(550px, -300px);
    }

    100% {}

}

@keyframes VictoireS {

    0% {}

    50% {
        transform: translate(-550px, -200px);
    }

    100% {}

}

.VictoireV {
    animation: VictoireV 5s;
}

.VictoireS {
    animation: VictoireS 5s infinite;
}

.animeV {
    animation: animeV 1s;
}

.animeS {
    animation: animeS 1s;
}


.Start1 {
    position: relative;
    left: 550px;
    display: none;

}

.Start2 {
    position: relative;
    left: 400px;
    display: none;
    height: 300px;


}

.animeV {
    animation: animeV 1s;
}

.animeS {
    animation: animeS 1s;
}

.Start {
    height: 75px;
    width: 150px;
    position: absolute;
    top: 350px;
    left: 650px;
    background-color: rgb(76, 28, 28);
    border-radius: 33%;
    border-color: black;
    color: rgb(248, 75, 40);
    display: block;

}

.viking {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 0px;
    display: none;
}

.squelette {
    position: absolute;
    transform: scaleX(-1);
    right: 0px;
    bottom: 100px;
    width: 300px;
    height: 250px;
    display: none;
}


.progressbar-placeV {
    background-color: #ff0000;
    color: white;
    border-radius: 15px;
    width: 200px;
    position: absolute;
    top: 400px;
    left: 50px;
    display: none;
}

.progressbar-placeS {
    background-color: #ff0000;
    color: white;
    border-radius: 15px;
    position: absolute;
    top: 350px;
    right: 75px;
    width: 200px;
    display: none;

}

.vieS {
    background-color: #15ff00;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    width: 200px;

}

.vieV {
    background-color: #15ff00;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    width: 200px;

}

.AttackV {
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 50%;
    background-image: url(/attack-icon-14.png);
    background-size: 75px 75px;
    display: none;
}

.AttackS {
    width: 75px;
    height: 75px;
    background-color: red;
    border-radius: 50%;
    background-image: url(/attack-icon-14.png);
    background-size: 75px 75px;
    display: none;
}

.DefenseS {
    width: 75px;
    height: 75px;
    background-color: rgb(48, 0, 194);
    border-radius: 50%;
    background-image: url(/3786008.png);
    background-size: 75px 75px;
    display: none;
}

.DefenseV {
    width: 75px;
    height: 75px;
    background-color: rgb(48, 0, 194);
    border-radius: 50%;
    background-image: url(/3786008.png);
    background-size: 75px 75px;
    display: none;
}

.actionV {
    position: relative;
    left: 350px;
    top: 400px;
    vertical-align: top;
    display: flex;

}

.actionS {
    position: relative;
    left: 950px;
    top: 300px;
    vertical-align: top;
    display: flex;


}

.protectV {
    width: 50px;
    height: 50px;
    position: relative;
    left: 300px;
    top: 200px;
    display: none;


}

.protectS {
    width: 50px;
    height: 50px;
    position: relative;
    left: 1050px;
    top: 150px;
    display: none;
}

.winV {
    width: 400px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 550px;
    display: none;
}

.winS {
    width: 400px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 500px;
    display: none;
}


.affichDV {
    position: relative;
    top: 300px;
    left: 250px;
    display: none;
    width: 30px;
    height: 30px;
    color: #ff0000;
    font-size: 40px;
    font-family: Impact, fantasy;


}

.afficheDS {
    position: relative;
    top: 175px;
    left: 1150px;
    display: none;
    width: 30px;
    height: 30px;
    color: #ff0000;
    font-size: 40px;
    font-family: Impact, fantasy;
}

.animeDV {
    animation: DV 1s;
}

.animeDS {
    animation: DV 1s;
}